<div class="home">
  <p>HOME</p>
  <img id="logo" class="next-particle"

       data-renderer="webgl"
       data-particle-size="2"

       data-life-cycle="true"
       data-wait-duration="50"
       data-shrink-duration="900"
       data-shrink-distance="500"

       src="/images/oactav.png">


  <img id="logo" class="next-particle"

       data-renderer="webgl"
       data-particle-size="2"
       data-particle-gap="1"

       data-init-position="random"
       data-init-direction="random"
       data-fade-position="random"
       data-fade-direction="random"

       src="/images/oactav.png">

</div>
<script src="../../../utils/canvas/nextParticle.js"></script>
